<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    {{! Page Meta }}
    <title>
        {{#post}}
            {{title}}{{#if primary_tag}} by {{primary_tag.name}}{{/if}} 路 {{@site.title}}
        {{else}}
            {{#page}}
                {{title}} 路 {{@site.title}}
            {{else}}
                {{#tag}}
                    {{name}} 路 {{@site.title}}
                {{else}}
                    {{#primary_author}}
                        {{name}} 路 {{@site.title}}
                    {{else}}
                        {{meta_title}}
                    {{/primary_author}}
                {{/tag}}
            {{/page}}
        {{/post}}
    </title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {{! Brand icon }}
    <link rel="shortcut icon" href="{{@site.icon}}" type="image/png" />
    
    {{! Font preloading for better performance }}
    <link rel="preload" href="{{asset "fonts/Blanco-Regular.woff"}}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{{asset "fonts/Degular-Regular.woff2"}}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{asset "fonts/Degular-Medium.woff2"}}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{asset "fonts/Blanco-Medium.woff"}}" as="font" type="font/woff" crossorigin>
    
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    
    {{! Ghost outputs structured data with JSON-LD }}
    {{ghost_head}}
    
</head>
<body class="{{body_class}}">
<div class="viewport">
<div class="container">
    <header id="gh-head" class="gh-head">
        <nav class="gh-head">
            <div class="gh-head-brand">
                <a class="gh-head-logo no-image" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            <div class="gh-head-menu">
                {{navigation}}
                <div class="mobile-menu-actions">
                    {{#if @site.members_enabled}}
                        {{#unless @member}}
                            <a class="gh-head-link" href="#/portal/signin" title="Sign in">Sign in</a>
                            <a class="gh-head-link" href="#/portal/signup" title="Subscribe">Subscribe</a>
                        {{else}}
                            <a class="gh-head-link" href="#/portal/account" title="Account">Account</a>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
            <div class="gh-head-actions">
                <button class="menu-toggle" aria-label="Toggle Menu" data-menu-text="Menu" data-close-text="Close">
                    Menu
                </button>
                <div class="gh-head-actions-list">
                    {{#if @site.members_enabled}}
                        {{#unless @member}}
                            <a class="gh-head-link" href="#/portal/signin" title="Sign in">Sign in</a>
                            <a class="gh-head-link" href="#/portal/signup" title="Subscribe">Subscribe</a>
                        {{else}}
                            <a class="gh-head-link" href="#/portal/account" title="Account">Account</a>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
</div>

    <main class="site-content">
        {{! Everything else gets inserted here, index.hbs, post.hbs, etc }}
        {{{body}}}
    </main>

    <footer class="site-footer outer">
        <div class="footer-content">
            <nav class="site-footer-nav">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-powered-by">
                <a href="https://ghost.org/" target="_blank" rel="noopener" title="Ghost: publishing software">Running on Ghost</a>
            </div>
        </div>
    </footer>

</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

<script src="{{asset "js/main.js"}}"></script>

</body>
</html>
