{{!< default}}

<main class="site-main">
    <div class="container">
        
        {{! Latest post }}
        {{#get "posts" limit="1" include="tags"}}
            {{#foreach posts}}
                <section class="latest-post-featured">
                    {{#if feature_image}}
                        <div class="latest-post-image">
                            <img src="{{img_url feature_image size="l"}}" alt="{{title}}" />
                        </div>
                    {{/if}}
                    
                    <div class="latest-post-content">
                        <h1 class="latest-post-title">
                            {{title}}
                        </h1>
                        {{#if primary_tag}}
                            <h2 class="latest-post-author">by {{primary_tag.name}}</h4>
                        {{/if}}
                        {{#if custom_excerpt}}
                            <p class="latest-post-excerpt">{{custom_excerpt}}</p>
                        {{else if excerpt}}
                            <p class="latest-post-excerpt">{{excerpt}}</p>
                        {{/if}}
                        <a href="{{url}}" title="Read my recommendation for {{title}}" class="button">Continue reading &nbsp;&rarr;</a>
                    </div>
                </section>
            {{/foreach}}
        {{/get}}
        
        {{! Latest in fiction}}
        <section class="section-fiction">
            <div class="section-header">
                <h2 class="section-heading">Fiction</h2>
                <a href="/tag/fiction/" class="section-see-all">See All</a>
            </div>
            
            {{#get "posts" filter="tag:fiction" limit="4" include="tags"}}
                <div class="posts-grid">
                    {{#foreach posts}}
                        <article class="post-item">
                            <a href="{{url}}" class="post-item-link">
                                {{#if twitter_image}}
                                    <div class="post-image">
                                        <img src="{{img_url twitter_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                        {{#if og_image}}
                                            <img src="{{img_url og_image size="l"}}" alt="{{title}}" class="post-image-hover" />
                                        {{/if}}
                                    </div>
                                {{else if og_image}}
                                    <div class="post-image">
                                        <img src="{{img_url og_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                    </div>
                                {{else if feature_image}}
                                    <div class="post-image">
                                        <img src="{{img_url feature_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                    </div>
                                {{/if}}
                                
                                <div class="post-content">
                                    <h3 class="post-title">
                                        {{title}}
                                    </h3>
                                    {{#if primary_tag}}
                                        <h4 class="article-author">{{primary_tag.name}}</h4>
                                    {{/if}}
                                    {{#if excerpt}}
                                        <p class="post-excerpt">{{excerpt}}</p>
                                    {{/if}}
                                </div>
                            </a>
                        </article>
                    {{/foreach}}
                </div>
            {{/get}}
        </section>
        
        <section class="newsletter-signup">
            <div class="newsletter-content">
                <h3>Your brief, monthly book recommendation.</h3>
                <h4>Fiction and non-fiction. For the casual or voracious reader. Free, always.</h4>
                <div class="newsletter-form">

                    <form data-members-form="subscribe">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your email address" required />
                            <button type="submit">Subscribe</button>
                        </div>
                        <div class="message-success">
                            <strong>Great!</strong> Check your inbox and confirm your subscription.
                        </div>
                        <div class="message-error">
                            Please enter a valid email address.
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
        {{! Latest in non-fiction}}
        <section class="section-nonfiction">
            <div class="section-header">
                <h2 class="section-heading">Non-fiction</h2>
                <a href="/tag/non-fiction/" class="section-see-all">See All</a>
            </div>
            
            {{#get "posts" filter="tag:non-fiction" limit="4" include="tags"}}
                <div class="posts-grid">
                    {{#foreach posts}}
                        <article class="post-item">
                            <a href="{{url}}" class="post-item-link">
                                {{#if twitter_image}}
                                    <div class="post-image">
                                        <img src="{{img_url twitter_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                        {{#if og_image}}
                                            <img src="{{img_url og_image size="l"}}" alt="{{title}}" class="post-image-hover" />
                                        {{/if}}
                                    </div>
                                {{else if og_image}}
                                    <div class="post-image">
                                        <img src="{{img_url og_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                    </div>
                                {{else if feature_image}}
                                    <div class="post-image">
                                        <img src="{{img_url feature_image size="l"}}" alt="{{title}}" class="post-image-default" />
                                    </div>
                                {{/if}}
                                
                                <div class="post-content">
                                    <h3 class="post-title">
                                        {{title}}
                                    </h3>
                                    {{#if primary_tag}}
                                        <h4 class="article-author">{{primary_tag.name}}</h4>
                                    {{/if}}
                                    {{#if excerpt}}
                                        <p class="post-excerpt">{{excerpt}}</p>
                                    {{/if}}
                                </div>
                            </a>
                        </article>
                    {{/foreach}}
                </div>
            {{/get}}
        </section>
        
    </div>
</main>
