{{!< default}}

{{! The main content area }}
<main>
    <div>
        
        {{! Loop through all posts }}
        {{#foreach posts}}
            <article>
                
                {{! Post feature image }}
                {{#if feature_image}}
                    <a href="{{url}}">
                        <img src="{{img_url feature_image size="m"}}" alt="{{title}}" />
                    </a>
                {{/if}}
                
                <div>
                    
                    {{! Post header }}
                    <header>
                        {{#if primary_tag}}
                            <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                        {{/if}}
                        <h2>
                            <a href="{{url}}">{{title}}</a>
                        </h2>
                    </header>
                    
                    {{! Post excerpt }}
                    {{#if excerpt}}
                        <div>
                            <p>{{excerpt}}</p>
                        </div>
                    {{/if}}
                    
                    {{! Post footer }}
                    <footer>
                        <div>
                            <span>
                                {{#foreach authors}}
                                    <a href="{{url}}">{{name}}</a>
                                    {{#unless @last}}, {{/unless}}
                                {{/foreach}}
                            </span>
                            <span>
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                            </span>
                        </div>
                    </footer>
                    
                </div>
                
            </article>
        {{/foreach}}
        
        {{! Pagination }}
        {{pagination}}
        
    </div>
</main>
