{{!< default}}

<main id="site-main" class="site-main">
<section class="tag-header">
    <div class="container">
        {{#if feature_image}}
            <img class="tag-feature-image" src="{{img_url feature_image size="l"}}" alt="{{name}}" />
        {{/if}}
        <div class="tag-header-content">
            <h1 class="tag-title">{{name}}</h1>
            {{#if description}}
                <p class="tag-description">{{description}}</p>
            {{/if}}
        </div>
    </div>
</section>

<section class="tag-feed">
    <div class="container">
        
        {{#foreach posts}}
            <article class="tag-post-item">
                <a href="{{url}}" class="tag-post-link">
                    
                    <div class="tag-post-date">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                    </div>
                    
                    <div class="tag-post-content">
                        <h2 class="tag-post-title">{{title}}</h2>

                        {{#if primary_tag}}
                            <p class="tag-post-author">By {{primary_tag.name}}</p>
                        {{/if}}
                        
                        {{#if excerpt}}
                            <p class="tag-post-excerpt">{{excerpt}}</p>
                        {{/if}}
                        
                        {{#if tags.length}}
                            <div class="tag-post-tags">
                                {{#foreach tags}}
                                    {{#unless @first}}
                                        <span class="tag-link">{{name}}</span>
                                        {{#unless @last}}
                                            <span class="tag-separator"> / </span>
                                        {{/unless}}
                                    {{/unless}}
                                {{/foreach}}
                            </div>
                        {{/if}}
                    </div>
                    
                    {{#if twitter_image}}
                        <div class="tag-post-image">
                            <img src="{{img_url twitter_image size="m"}}" alt="{{title}}" />
                        </div>
                    {{else if og_image}}
                        <div class="tag-post-image">
                            <img src="{{img_url og_image size="m"}}" alt="{{title}}" />
                        </div>
                    {{else if feature_image}}
                        <div class="tag-post-image">
                            <img src="{{img_url feature_image size="m"}}" alt="{{title}}" />
                        </div>
                    {{/if}}
                    
                </a>
            </article>
        {{/foreach}}
        
        {{pagination}}
        
    </div>
</section>
</main>
